<!-- <div id="overlay">
  <mat-spinner diameter="200"></mat-spinner>
</div> -->

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-button-toggle-group *ngIf="dataService.getActiveRealm().stacks" name="fontStyle" aria-label="Font Style"
        value="{{persistentData.activeStackId}}">

        <mat-form-field>
          <mat-select [value]="dataService.persistentData.activeRealmId">
            <mat-option *ngFor="let realm of dataService.persistentData.realms" [value]="realm.id">
              {{realm.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-button-toggle *ngFor="let stack of dataService.getActiveRealm().stacks"
          (click)="changeActiveStack(stack.id)" mat-list-item value="{{stack.id}}">
          {{stack.name}}
        </mat-button-toggle>

      </mat-button-toggle-group>
      <button id="addBtn" mat-mini-fab color="accent" (click)="dataService.addStack();">+</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div id="topLeftWrapper">
        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span id="logo1" class="logo">flippy</span>
        <span id="logo2" class="logo">o</span>
        <span id="logo3" class="logo">panda</span>
      </div>
      <div id="topRightWrapper">
        <div id="githubWrapper">
          <a href="https://github.com/TGotwig/flippy-panda" target="_blank">
            <i class="fa fa-github fa-2x" aria-hidden="true"></i>
          </a>
        </div>
        <div *ngIf="dataService.user$ | async; then loggedIn else login"></div>
      </div>
    </mat-toolbar>
    <mat-card id="bannerCard" *ngIf="persistentData.banner">
      <p>This app uses Local Storage to persist data 💾</p>
      <button mat-button (click)="closeBanner()">
        Okay that's fine 😊
      </button>
    </mat-card>

    <!-- main area -->
    <app-stack></app-stack>

  </mat-sidenav-content>
</mat-sidenav-container>

<ng-template #login>
  <button id="signInBtn" mat-button (click)="openPlayOrderDialog()">Login <i class="fa fa-sign-in"></i></button>
</ng-template>

<ng-template #loggedIn>
  <div *ngIf="dataService.user$ | async as user">
    <button id="signOutBtn" mat-button (click)="openPlayOrderDialog()">{{user.displayName}}
      <img ngxGravatar fallback='robohash' [email]="user.email" size="50" alt="🖼" mat-card-avatar>
    </button>
  </div>
</ng-template>