<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <mat-button-toggle-group *ngIf="persistentData.stacks" name="fontStyle" aria-label="Font Style"
        value="{{persistentData.activeStackId}}">
        <mat-button-toggle *ngFor="let stack of persistentData.stacks" (click)="changeActiveStack(stack.id)"
          mat-list-item value="{{stack.id}}">
          {{stack.name}}</mat-button-toggle>
      </mat-button-toggle-group>
      <button id="addBtn" mat-mini-fab color="primary" (click)="this.service.addStack();">+</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>flippy-panda 🐼</span>
    </mat-toolbar>
    <mat-card id="bannerCard" *ngIf="persistentData.banner">
      <p>This app uses Local Storage to persist data 💾</p>
      <button mat-button (click)="closeBanner()">
        Okay that's fine 😊
      </button>
    </mat-card>
    <app-stack></app-stack>
  </mat-sidenav-content>
</mat-sidenav-container>