<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <mat-button-toggle-group
        *ngIf="dataService.getActiveRealm().decks"
        [value]="dataService.getActiveRealm().activeDeckId"
      >
        <mat-form-field>
          <mat-select
            id="realmSelectionInitiatorBtn"
            [value]="dataService.data.activeRealmId"
          >
            <mat-option
              class="realmFromPicklistBtn"
              *ngFor="let realm of dataService.data.realms"
              [value]="realm.id"
              (click)="dataService.changeRealm(realm.id)"
            >
              {{ realm.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div
          style="
            display: flex;
            justify-content: space-around;
            margin-bottom: 2rem;
          "
        >
          <fa-icon
            id="addRealmBtn"
            class="realmBtn"
            [icon]="faPlus"
            (click)="dataService.addRealm()"
          ></fa-icon>
          <!-- todo: implement click-event -->
          <!-- <fa-icon
            class="realmBtn"
            [icon]="faEdit"
            (click)="dataService.renameRealm()"
          ></fa-icon> -->
          <fa-icon
            class="realmBtn"
            [icon]="faTimes"
            (click)="dataService.removeRealm()"
          ></fa-icon>
        </div>

        <button
          id="addDeckBtn"
          mat-flat-button
          color="accent"
          (click)="dataService.addDeck()"
          *ngIf="dataService.data.realms.length > 0"
        >
          🗃 Add a new Deck 👇
        </button>

        <mat-button-toggle
          class="deckFromPicklistBtn"
          *ngFor="let deck of dataService.getActiveRealm().decks"
          (click)="dataService.changeActiveDeck(deck.id)"
          mat-list-item
          [value]="deck.id"
        >
          {{ deck.name }}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div id="topLeftWrapper">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <img src="assets/bamboo.svg" alt="pandaLogo" width="50px" />
        <span id="logo1" class="logo">flippy</span>
        <span id="logo2" class="logo">o</span>
        <span id="logo3" class="logo">panda</span>
        <img src="assets/panda.svg" alt="pandaLogo" width="50px" />
      </div>
      <div id="topRightWrapper">
        <div id="githubWrapper">
          <a href="https://github.com/TGotwig/flippy-panda" target="_blank">
            <span id="faCat">
              <fa-icon [icon]="faCat"></fa-icon>
            </span>
          </a>
        </div>
      </div>
    </mat-toolbar>
    <mat-card id="bannerCard" *ngIf="!readLocalStorageValue()">
      <p>This app uses Local Storage to persist data 💾</p>
      <button id="closeLocalStorageInfoBtn" mat-button (click)="closeBanner()">
        Okay that's fine 😊
      </button>
    </mat-card>

    <!-- main area -->
    <app-deck></app-deck>
  </mat-sidenav-content>
</mat-sidenav-container>
