<mat-card id="question" *ngIf="!finished">{{actWord}}</mat-card>

<div *ngIf="finished">
  <p>Positives: {{positives}} 😊</p>
  <p>Negatives: {{negatives}} 😖</p>
</div>

<mat-dialog-actions align="end" *ngIf="!finished">
  <button mat-button mat-raised-button color="accent" (click)="nextCard(false)">Didn't know 😖</button>
  <button mat-button mat-raised-button color="accent" cdkFocusInitial (click)="flip()">Flip 🎴</button>
  <button mat-button mat-raised-button color="accent" (click)="nextCard(true)">Knew it 😊</button>
</mat-dialog-actions>