<main>
  <mat-card [style.display]="persistentData.stacks.length > 0 ? 'block' : 'none'">
    <mat-card id="stackInfoCard">
      <mat-card-title *ngIf="this.service.activeStack">{{this.service.activeStack.name}}</mat-card-title>
      <div id="playBtn" mat-mini-fab color="primary" (click)="openPlayOrderDialog()">▶️</div>
      <div>
        <button id="renameStackBtn" mat-flat-button color="primary" (click)="openRenameStackDialog()">Rename
          Stack</button>
        <button id="removeStackBtn" mat-flat-button color="warn" (click)="removeStack()">Remove Stack</button>
      </div>
    </mat-card>

    <mat-card id="addCardCard">
      <mat-card-header>
        <mat-card-title>Add a new card 🎴</mat-card-title>
      </mat-card-header>
      <form class="example-form" (submit)="addCard($event)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Top-Side" #topside="matInput" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Bottom-Side" />
        </mat-form-field>
        <button id="addCardBtn" mat-mini-fab color="primary">+</button>
      </form>
    </mat-card>

    <table mat-table [dataSource]="this.service.activeStack.cards" class="mat-elevation-z8">

      <ng-container matColumnDef="cardIcon" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>∑ = {{this.service.activeStack.cards.length}}</th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>🎴</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="left">
        <th mat-header-cell *matHeaderCellDef> Top-Side </th>
        <td mat-cell *matCellDef="let element"> {{element.left}} </td>
      </ng-container>

      <ng-container matColumnDef="right">
        <th mat-header-cell *matHeaderCellDef> Bottom-Side </th>
        <td mat-cell *matCellDef="let element"> {{element.right}} </td>
      </ng-container>

      <ng-container matColumnDef="remove" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td id="removeCardBtn" mat-cell *matCellDef="let obj" (click)="removeCard(obj)">
          -
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card>

  <mat-card *ngIf="persistentData.stacks.length === 0">
    <mat-card-title>👈 Create a stack to continue your flash cards journey 🤓🎴🌈</mat-card-title>
  </mat-card>
</main>