<main>
  <div
    [style.display]="
      this.dataService.getActiveRealm().decks.length > 0 ? 'block' : 'none'
    "
  >
    <mat-card id="deckInfoCard">
      <mat-card-title id="deckName" *ngIf="dataService.getActiveDeck()">{{
        dataService.getActiveDeck().name
      }}</mat-card-title>
      <fa-icon
        id="playBtn"
        [icon]="faPlayCircle"
        aria-hidden="true"
        (click)="openPlayDialog()"
      ></fa-icon>
      <div>
        <button
          id="renameDeckBtn"
          mat-flat-button
          color="accent"
          (click)="openRenameDeckDialog()"
        >
          Rename Deck
        </button>
        <button
          id="removeDeckBtn"
          mat-flat-button
          color="warn"
          (click)="removeDeck()"
        >
          Remove Deck
        </button>
      </div>
    </mat-card>

    <mat-card id="addCardCard">
      <mat-card-header>
        <mat-card-title>Add a new card 🎴</mat-card-title>
      </mat-card-header>
      <form class="example-form" (submit)="addCard($event)">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Top-Side" #topside="matInput" />
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Bottom-Side" />
        </mat-form-field>
        <button id="addCardBtn" mat-mini-fab color="accent">+</button>
      </form>
    </mat-card>

    <table
      mat-table
      *ngIf="dataService.getActiveDeck()"
      [dataSource]="dataService.getActiveDeck().cards"
      class="mat-elevation-z8"
    >
      <ng-container matColumnDef="cardIcon" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>
          ∑ = {{ dataService.getActiveDeck().cards.length }}
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>🎴</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="left">
        <th mat-header-cell *matHeaderCellDef>Top-Side</th>
        <td mat-cell *matCellDef="let element">{{ element.left }}</td>
      </ng-container>

      <ng-container matColumnDef="right">
        <th mat-header-cell *matHeaderCellDef>Bottom-Side</th>
        <td mat-cell *matCellDef="let element">{{ element.right }}</td>
      </ng-container>

      <ng-container matColumnDef="remove" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let obj">
          <fa-icon [icon]="faTimes" class="removeCardBtn" (click)="removeCard(obj)"></fa-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-card *ngIf="this.dataService.getActiveRealm().decks.length === 0">
    <mat-card-title id="welcomeMsg"
      >Create a Realm 🌌<br />
      Then a Deck 🗃<br />
      Then Cards 🎴🎴🎴</mat-card-title
    >
  </mat-card>
</main>
