main {
  height: 100%;
  padding: 1rem;
}

table {
  width: 100%;
  margin-bottom: 1.2rem;
}

.mat-form-field {
  width: 40%;
}

.example-form {
  display: flex;
  justify-content: space-evenly;
}

#deckInfoCard {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#playBtn {
  font-size: xx-large;
  color: tomato;
  cursor: pointer;
}

#renameDeckBtn,
#removeDeckBtn {
  transform: scale(0.8);
}

#addCardCard {
  margin-bottom: 1rem;
}

#addCardBtn {
  font-size: xx-large;
}

.removeCardBtn {
  font-size: 3rem;
  cursor: pointer;
}
