@font-face {
  font-family: "Saiyan-Sans";
  src: url("assets/webfonts/Saiyan-Sans.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("assets/webfonts/Nunito-Regular.ttf");
}

* {
  font-family: "Nunito", sans-serif;
}
