/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

.mat-select-value-text {
  margin-left: 1rem;
}

.backdrop {
  background: rgba(0, 0, 0, 0.9);
}
