@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-yellow);
$app-accent:  mat-palette($mat-orange);

$app-theme: mat-light-theme($app-primary, $app-accent);

@mixin mix-app-theme($app-theme) {
  $primary: map-get($app-theme, primary);
  $accent: map-get($app-theme, accent);

  .mat-button-toggle {
    background-color: transparent;
    color: mat-color($primary, default-contrast);
  }
  .mat-button-toggle-checked {
    background-color: mat-color($primary, A200);
  }

  .mat-card, .mat-cell, .mat-header-cell, .mat-dialog-container {
    background: mat-color($primary, 400);
    color: black;
  }
  
  .mat-toolbar.mat-primary, a {
    background: mat-color($primary);
    color: black;
  }

  #overlay, .mat-drawer-content {
    background-color: mat-color($accent)
  }

  .mat-progress-spinner circle, .mat-spinner circle {
    stroke: mat-color($primary);
  }

  .mat-drawer-inner-container {
    background-color: mat-color($accent, 400);
  }

  #question {
    background-color: mat-color($primary, A200);
  }

  .mat-focused .mat-form-field-label {
      color: mat-color($primary, 900) !important;
  }
  .mat-form-field-ripple {
      background-color: mat-color($primary, 900) !important;
  }

  .mat-snack-bar-container {
    background: mat-color($primary);
    color: black;
  }

  .mat-button {
    color: mat-color($primary, 900);
  }

  #bannerCard {
    background-color: mat-color($primary, 200);
  }

  .fa-times {
    color: #F7412D;
  }

  #question {
    background: linear-gradient(0deg, rgb(249, 66, 6),rgb(250, 134, 22),rgb(251, 202, 37));
  }

  #logo1 {
    color: #FFFF00;
  }
  #logo2 {
    color: #FF9900;
  }
  #logo3 {
    color: #F7412D;
  }
}

@include mix-app-theme($app-theme);
